* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* inicio header*/
header{
  margin-bottom: 4rem;
}
.img-logo{
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}
.images-Ensign {
    width: 25px;
    height: 25px;
}
.logo-santander{
  width: 20px;
  padding-bottom: 10px;
}
.logo-idioma{
  width: 25px;
}
.santander:hover{
  background-color:#E32D38 ;
}
.smartbank:hover{
  background-color:#0077C8 ;
}
.femenina:hover{
  background-color:#00BF88 ;
}
/* fin header */

/* inicio footer general */
.footer{
  background-color: grey;
}
.img-footer{
  width: 40px;
  height: auto;
}
.textos-footer ul li{
  list-style: none;
  text-decoration: none;
}
.textos-footer ul li a{
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
}
/* fin footer general */

/* spinner */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#container {
  width: 100px;
  height: 100px;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}
/* fin spinner */

.banner{
  background-image: url(/img/portada1440x811.jpg);
  width: 100%;
  height: 811px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
}

.title{
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-top: 0.5rem;
}
.grande{
  font-size: 36px;
}
.contorno{
  border-radius: 8px;
  -webkit-box-shadow: 8px 7px 23px 3px rgba(210, 210, 210, 1);
  -moz-box-shadow: 8px 7px 23px 3px rgba(210, 210, 210, 1);
  box-shadow: 8px 7px 23px 3px rgba(210, 210, 210, 1);
}
.contorno:hover{
  -webkit-box-shadow: 8px 7px 23px 3px rgba(127, 76, 220, 0.14);
  -moz-box-shadow: 8px 7px 23px 3px rgba(127, 76, 220, 0.14);
  box-shadow: 8px 7px 23px 3px rgba(127, 76, 220, 0.14);
}
.card-img-top{
  border-radius: 8px 8px 0px 0px;
}
.link-noticias{
  text-decoration: none;
  color: black;
}
.link-noticias:hover{
  color: black;
}

@media screen and (max-width: 992px) {
  .banner {
    background-image: url(../img/portada-992x778.png);
    width: 100%;
    height: 778px;
    background-size: cover;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    background-image: url(../img/portada-768x639.png);
    width: 100%;
    height: 639px;
    background-size: cover;
    margin-top: 5.3rem;
  }
  .banner h1{
    font-size:30px ;
  }
  .banner h2{
    font-size:30px ;
  }
  .img-logo{
    width: 35px;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .banner {
    background-image: url(../img/portada-576x513.png);
    width: 100%;
    height: 513px;
    background-size: cover;
    margin-top: 3.8rem;
  }
  .banner h1{
    font-size:30px ;
  }
  .banner h2{
    font-size:30px ;
  }
  .img-logo{
    width: 35px;
    height: auto;
  }
}

.cards{
  margin-bottom: 5rem;
}

/* inicio tablas general */
.ancho{
  width: 60%;

}

thead{
  background: rgb(37,96,125);
background: linear-gradient(90deg, rgba(37,96,125,1) 18%, rgba(14,9,142,0.9295890231092437) 45%, rgba(99,14,150,1) 89%);
}
thead tr th{
  color: white;
}
tbody tr td{
  font-size: 14px;
}
.texto-score{
  text-align: center;
}
.inputs-filtro{
  margin-top: 8rem;
}
.title-temporada{
  text-align: center;
  margin-bottom: 3rem;
}
.title-filtro{
  font-size: 16px;
}
.radioButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* .radioButtons a{
  text-decoration: none;
  padding: 8px 8px;
  background-color: #0077C8;
  color: black;
} */

#matches-body td:nth-child(3){
  text-align: center;
}
#matches-body td:nth-child(1){
  text-align: start;
}
.alerta{
  background-color: white;
  color: rgb(172, 2, 2);
padding: 8px 16px;
}
.alerta span{
  font-weight: 700;
}
/* .end{
  align-content: end;
} */
